<!DOCTYPE html>
<html>
<head>
    <title>Educacion</title>
</head>
<body>
    <h1>Educacion</h1>
    <form action="/Educacion" method="post">
        <label for="NombreInstitucion">Nombre de la Institucion:</label>
            <input type="text" name="NombreInstitucion" id="NombreInstitucion" required><br>
        <label for="TituloEducacion">Titulo de Educacion:</label>
            <input type="text" name="TituloEducacion" id="TituloEducacion" required><br>
        <label for="NivelAcademico">Nivel Academico:</label>
            <input type="text" name="NivelAcademico" id="NivelAcademico" required><br>        
        <label for="FechaInicio">Fecha de Inicio de educacion:</label>
            <input type="date" name="FechaInicio" id="FechaInicio" required><br>
        <label for="Fechafinal">Fecha de final de educacion:</label>
            <input type="date" name="Fechafinal" id="Fechafinal" required><br>
        <label for="ID">Su id de usuario:</label>
            <input type="text" name="ID" id="ID" value="{{ usuario_id }}" readonly><br>
        <input type="submit" value="Enviar">
    </form>
</body>
</html>